<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'lib/flaticon/font/flaticon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include 'includes/navbar.html' %} {% block content %}
    <p></p>
    {% endblock content %} {% include 'includes/footer.html' %}

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{% static 'https://code.jquery.com/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
